<!DOCTYPE html>
<html>
<head>
  {{! Document Settings }}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{! Page Meta }}
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />
  <link type="text/css" rel="stylesheet" href="{{asset "css/main.css"}}"/>

  {{ghost_head}}
</head>
<body class="{{body_class}}">
  {{{body}}}
  {{ghost_foot}}
</body>
</html>